.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px;
}

.hamburger-menu {
  display: flex;
  justify-content: center;
  margin-left: 20%;
  margin-top: 5%;
}

.introduction {
  display: flex;
  justify-content: center;
}

.mobile-introduction {
  margin: 2em;
  font-family: 'Open Sans';
  font-weight: lighter;
}

.thingsWeDo {
  text-align: center;
  font-family: 'Open Sans';
  font-weight: lighter;
}

.footer {
  background-color: #16242f;


}

.founder {
  display: flex;
  justify-content: center;
  margin-left: 15%;
}

.intro-text-box {
  margin-left: 10%;
  width: 60%;
  max-width: 30rem;
  font-family: 'Open Sans';
  font-weight: lighter;
  font-style: italic;
  font-size: 60%;
}

.peeweeherman {
  font-style: normal;
  font-weight: bolder;
  font-family: 'Open Sans';
  margin-left: 10%;

}

.peewee {
  border-radius: 100%;
}

.footer-boxes {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.social-box-contents {
  display: flex;
  flex-direction: row;
}

.newsletter {
  display: none;
}

.about-us {
  display: none;
}

.flickr-photos {
  display: none;
}

article>div {
  margin: 15px;
}

.Title {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.topic {
  margin: 0;
}

p {
  margin: 0px;
}



.Contents {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Content {
  display: flex;
  flex-direction: row;
  margin: 15px;

}

.Boxes {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Sample {
  margin: 15px;
  width: 350px;
  height: 350px;
}

.Bottom {
  display: flex;
  flex-direction: row;
  margin: 50px;
  display: none;
}

.Menu {
  display: flex;
  flex-direction: column;
}

.Tabs {
  display: flex;
  flex-direction: row;
}

.Companies {
  display: flex;
  flex-direction: row;
  display: none;
}

.Companies-Logo {
  width: 170px;
  height: 170px;
  margin: 25px;
}

.founder {
  display: flex;
  justify-content: center;
}

footer {
  background-color: #16242f;
  ;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px;
    font-size: 10px;
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {
  h1 br {
    display: none;
  }

}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}