.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}

.banner {
  width: 100%;
}

.home {
  background-color: rgb(102, 211, 102);
  font-family: 'Open Sans';
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.home-circle {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  overflow: hidden;
  background-color: #56caa3;
  justify-content: center;
  align-items: center;
}

.pages {
  background-color: rgb(255, 229, 57);
  font-family: 'Open Sans';
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.blog {
  background-color: rgb(253, 102, 102);
  font-family: 'Open Sans';
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;

}

.portfolio {
  background-color: rgb(0, 137, 201);
  font-family: 'Open Sans';
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;

}

.home-two {
  background-color: rgb(79, 79, 187);
  font-family: 'Open Sans';
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;


}

.p3 {
  color: white;

}

.introduction {
  display: flex;
  justify-content: center;
}

.introduction {
  display: flex;
  justify-content: center;
}

.mobile-introduction {
  text-align: center;
  margin: 2em;
  font-family: 'Open Sans';
  font-weight: lighter;
}

.Boxes-Phone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Boxes-Tablet {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Boxes-Desktop {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Sample {
  width: 100px;
  height: 100px;
}

.thingsWeDo {
  text-align: center;
  font-family: 'Open Sans';
  font-weight: lighter;
}

.topic {
  text-align: left;
  font-weight: 900;
}

.founder {
  display: flex;
  justify-content: center;
  margin-left: 15%;
}

.intro-text-box {
  width: 60%;
  max-width: 30rem;
  font-family: 'Open Sans';
  font-weight: lighter;
  font-style: italic;
  font-size: 60%;
  color: aliceblue;
}

.peeweetext {
  margin-left: 5%;
}

.peeweeherman {
  font-style: normal;
  font-weight: bolder;
  font-family: 'Open Sans';
  color: aliceblue;

}

.peewee {
  width: 9%;
  border-radius: 50%;

}

.footer-boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  align-items: center;
}

.recent-tweets {
  font-family: 'Open Sans';
  font-weight: lighter;
  font-style: normal;
  font-size: 60%;
  color: aliceblue;
  margin-left: 10%;
}

.social-box-contents {
  display: flex;
  flex-direction: row;
  font-family: 'Open Sans';
  font-weight: lighter;
  font-style: normal;
  font-size: 60%;
  color: aliceblue;
  width: 80%;

}

.social-text-box {
  display: flex;
  margin-top: 2%;
}

.minions {
  color: rgb(121, 217, 255);
  font-style: normal;
  text-decoration: none;

}

article>div {
  margin: 15px;
}

.Title {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 0;
  font-family: 'Open Sans';
  font-weight: lighter;
  font-style: normal;
  font-size: 80%;
  color: rgb(0, 0, 0);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.topic {
  text-align: center;
  margin: 0;
}

p {
  margin: 0px;
  color: rgb(96, 96, 96);
}

h1 {
  font-weight: 200;
}

.Content {
  display: flex;
  flex-direction: column;
  margin: 15px;
  align-items: center;
}

.Boxes {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Sample {
  margin: 15px;
  width: 350px;
  height: 350px;
}

.Bottom {
  display: flex;
  flex-direction: row;
  margin: 50px;
}

.footer-boxes>div>h2 {
  color: aliceblue;
  font-family: 'Open Sans';
}

.footer-boxes>div>h2> {
  color: aliceblue;
  font-family: 'Open Sans';
}

.about-us-box>p {
  color: aliceblue;
  font-family: 'Open Sans';
}

.newsletter-box>p {
  color: aliceblue;
  font-family: 'Open Sans';
}


.Menu {
  display: flex;
  flex-direction: column;
}

.Tabs {
  display: flex;
  flex-direction: row;
}

.Companies {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Companies-Logo {
  width: 170px;
  height: 170px;
  margin: 25px;
}

.founder {
  display: flex;
  justify-content: center;
}

footer {
  background-color: #16242f;
}

.Description {
  display: flex;
  font-family: 'Open Sans';
  justify-content: center;
  flex-direction: column;
}

.Contents {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.Companies-Logo {
  width: 10%;
  height: 10%;
}

.Boxes-All {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px;
    font-size: 10px;
  }

  .hamburger-menu {
    display: flex;
    justify-content: center;
    margin-left: 20%;
    margin-top: 3%;
  }

  .paragraph-box {
    display: flex;
    text-align: left;
    margin: 1%;
    font-size: 70%;
    color: rgb(96, 96, 96);
  }

  .Contents {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .Bottom {
    display: none;
  }

  .Boxes-Just-Iphone {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .Boxes-Tablet {
    display: none;
  }

  .Boxes-Desktop {
    display: none;
  }

  .Boxes-All {
    display: none;
  }

  .newsletter {
    display: none;
  }

  .about-us {
    display: none;
  }

  .flickr-photos {
    display: none;
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {
  h1 br {
    display: none;
  }

  .Boxes-Phone {
    display: none;
  }

  .Boxes-Just-Iphone {
    display: none;
  }

  .hamburger-menu {
    display: none;
  }

}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .peewee {
    display: block;
    border-radius: 50%;
    margin-top: 2%;
    height: 2%;
    width: 8%;

  }

  .footer-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
  }

  .Contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }


  .Boxes-Desktop {
    display: none;
  }

}

/* Large and up */
@media screen and (min-width: 64em) {
  .Boxes-Tablet {
    display: none;
  }
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}