.peewee {
    display: block;
    border-radius: 50%;
    margin-top: 2%;
    height: 2%;
    width: 8%;

  }

.mobile-introduction {
    display: flex;
    text-align: center;
    align-self: center;
    font-size: 60%;
    width: 40%;
    margin: auto;
}

h1 {
    font-weight: 200;
}

.thingsWeDo {
    padding: 5%;
}

.Contents {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.topic{
    text-align: center;
    padding: 5%;
}

.paragraph-box {
    width: 110%;
    text-align: center;
  
 
}

.Boxes-Tablet {
    display: grid;
    grid-template-columns: 370px 490px;
    grid-row: auto auto;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    padding-bottom: 5%;
}

.Boxes-Phone {
    display: none;
}

.Sample-blank {
    margin: 15px;

}

