.nav-bar {
  display: flex;
  flex-direction: row;
}






article>div {
  margin: 15px;
}

.Title {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.topic {
  margin: 0;
}

p {
  margin: 0px;
}

.Contents {
  display: flex;
  flex-direction: row;
}

.Content {
  display: flex;
  flex-direction: row;
  margin: 15px;
}

.Boxes {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Sample {
  margin: 15px;
  width: 350px;
  height: 350px;
}

.Bottom {
  display: flex;
  flex-direction: row;
  margin: 50px;
}

.Menu {
  display: flex;
  flex-direction: column;
}

.Tabs {
  display: flex;
  flex-direction: row;
}

.Companies {
  display: flex;
  flex-direction: row;
}

.Companies-Logo {
  width: 170px;
  height: 170px;
  margin: 25px;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px;
    font-size: 10px;
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {
  h1 br {
    display: none;
  }

}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}